img {max-width: 100%;}

table figure {
    width: 10rem;
}

.table td {vertical-align: middle;}

input {
    padding: .5em 1em;
    border-radius: 15px;
    outline: none;
}

table + p {
    margin-bottom: 15rem;
}

a:hover, a {
    text-decoration: none;
    color: black;
    height: 87%;
}

nav, #section .card, .image-card {
    box-shadow: 1px 1px 3px 3px #eee;
    background: white;
}

#section, #cart, #contact, #history, #box{
    padding-top: 5rem;
    min-height: 90vh;
}

.cart-btn {
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
}